body {
    font-family: Cambria;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(164deg, rgba(247, 230, 230, 1) 34%, rgba(255, 255, 255, 1) 61%, rgba(252, 246, 235, 1) 84%);
    background-blend-mode: normal;
    color: rgb(44, 41, 41);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 0;
}

header {
    background-color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 130px;
    margin-top: 0px;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

.header-content {
    position: relative;
    z-index: 2; /* Para asegurarte de que el contenido esté por encima del borde rasgado */
    padding: 1rem;
}

header h1 {
    margin: 0;
    color: #dba76b;
    font-size: 2.5rem;
    z-index: 1;
    position: relative;
}

header ul li a:hover {
    color: #dba76b;

}

#img-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

#img-header img {
    width: 100%;
    height: 100%;
    object-fit:cover; /* Asegura que la imagen cubra completamente el contenedor sin distorsionarse */
    ;
}



nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
    position: relative;
    z-index: 1;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

main {
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

.movie-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
}

.movie-poster img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.movie-details {
    flex: 1;
}

.movie-title {
    color: #36342c;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.movie-play {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 0 20px;
    width: 100%; /* Asegura que el contenedor del iframe ocupe el 100% del ancho disponible */
    box-sizing: border-box;
}

.movie iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.movie {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Mantiene la proporción 16:9 */
}



.posters-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Limita a 3 columnas */
    gap: 1rem;
    max-width: 100%;
    justify-content: center; /* Centra las columnas */
}

.poster-box {
    width: 200px; /* Ancho fijo para el contenedor del póster */
    height: 300px; /* Alto fijo para el contenedor del póster */
    background-color: #ffffff00;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 1 1 auto;
    object-fit: fill;
}

.poster-box img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Esta propiedad permite que la imagen se distorsione para llenar el contenedor */
}

.poster-box img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);
}

footer {
    background-color: #272B2C;
    color: #fff;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text-footer {
    text-align: center;
    flex: 1 1 100%;
    margin-bottom: 1rem;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.link, .formulario {
    flex: 1 1 45%;
    margin: 0.5rem;
}

.socials {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.socials a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #c4935a;
    font-size: 20px;
}

.link a:hover {
    color: #ffffff;
}

.socials a:hover {
    background-color: #c4935a;
}

.formulario h2 {
    margin-top: 0;
    color: #c4935a;
}

.link h2 {
    color: #c4935a;
    margin-top: 0;
    margin-left: 30px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.formulario label {
    margin-top: 0.5rem;
    font-weight: bold;
}

.formulario input, .formulario textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.formulario button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #dba76b;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #c4935a;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .link, .formulario {
        flex: 1 1 100%;
        margin: 0.5rem 0;
    }
}

.yesteryear-regular {
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .posters-grid {
        grid-template-columns: repeat(2, 1fr); /* Limita a 2 columnas */
    }

    .poster-box {
        height: 250px;
        
    }
}
