body {
    font-family: Cambria;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(
    164deg,
    rgba(247, 230, 230, 1) 34%,
    rgba(255, 255, 255, 1) 61%,
    rgba(252, 246, 235, 1) 84%
  );
  background-blend-mode: normal;
    color: rgb(44, 41, 41);
}

header {
    background-image: url('/TP-Unidad5/src/fondobanner00.png');
    background-size: auto; /* para que la imagen se repita */
    background-position:500px;
    background-repeat: repeat; /* configurado para repetir */
    padding: 1rem;
    text-align: center;
}


header h1 {
    margin: 0;
    color: #dba76b;
  
}
.img-header {
    position: relative
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

#movie-posters {
    margin-top: 2rem;
}

.posters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.poster-box {
    background-color: #00bcd4;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-title {
    color: #36342c;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.movie-poster img {
    width: 300px;
    border-radius: 10px;
}

.poster-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(107, 100, 100, 0.8);
}

.movie-details {
    max-width: 60%;
}

.movie-details p {
    margin: 0.5rem 0;
}

.movie-review, .movie-rating, .technical-details {
    margin-bottom: 2rem;
    justify-content:center;
}
.movie {
    position: relative;
    margin-left: 150px;
}

footer {
    background-color: #272B2C;
    color: #fff;
    padding: 0.5rem 1rem; /* Reduce la altura del footer */
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
}

.text-footer {
    text-align: center;
    flex: 1;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.socials a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(226, 228, 148);
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
}

.link a :hover {
    color: #0056b3;

}
.socials a:hover {
    background-color: rgb(255, 255, 255);

}

.yesteryear-regular {
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
  }

